<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список групп</title>
</head>
<body>
<h1>Список всех групп</h1>

<!-- Проверка на наличие ошибок -->
<div th:if="${error}" style="color: red;">
    Ошибка: <span th:text="${error}"></span>
</div>

<!-- Проверка на пустой список -->
<div th:if="${groups.isEmpty()}">
    <p>Нет доступных групп.</p>
</div>

<!-- Список групп -->
<ul th:unless="${groups.isEmpty()}">
    <li th:each="group : ${groups}">
        <a th:href="@{/group/{groupName}(groupName=${group.name})}"
           th:text="${group.name}">Имя группы</a>
    </li>
</ul>

<!-- Кнопка "На главную" -->
<a href="/">На главную</a>
</body>
</html>