<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Список групп</title>
</head>
<body>
<h1>Список групп</h1>

<ul>
    <li th:each="group : ${groups}">
        <strong th:text="${group.name}"></strong><br/>
        <span th:text="${group.description}"></span><br/>
        <p>Студенты:</p>
        <ul>
            <li th:each="student : ${group.students}">
                <span th:text="${student.user.firstName} + ' ' + ${student.user.lastName}"></span>
            </li>
        </ul>
    </li>
</ul>

<a href="/groups/create">Создать новую группу</a>
</body>
</html>