<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lecture Details</title>
</head>
<body>
<h1>Lecture Details</h1>

<div th:if="${error}">
    <p style="color: red;" th:text="${error}"></p>
</div>

<p><strong>Title:</strong> <span th:text="${selectedLecture.content}"></span></p>
<p><strong>Description:</strong> <span th:text="${selectedLecture.description}"></span></p>

<a th:href="@{/kubstuTest/subject/{subjectId}/lectures(subjectId=${subjectId})}">Back to Lectures</a>
</body>
</html>