<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lectures</title>
</head>
<body>
<h1>Lectures for Subject ID: <span th:text="${subjectId}"></span></h1>

<div th:if="${error}">
    <p style="color: red;" th:text="${error}"></p>
</div>

<ul>
    <li th:each="lecture : ${lectures}">
        <a th:href="@{/kubstuTest/subject/{subjectId}/lecture/{lectureId}(subjectId=${subjectId}, lectureId=${lecture.id})}">
            <span th:text="${lecture.content}"></span>
        </a>
    </li>
</ul>

<a th:href="@{/kubstuTest/subject/{subjectId}/add-lecture(subjectId=${subjectId})}">Add New Lecture</a>
</body>
</html>